@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<!-- Modal Add New Team -->
<div class="modal fade" id="modalAddMstTeam" tabindex="-1" role="dialog" aria-labelledby="modalAddMstTeamLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form id="form-add-mst-team">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAddMstTeamLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="@Localizer["Close"]">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="mstTeamId" name="Id" />
					<div class="form-group">
						<label>@Localizer["NameVi"] <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="mstTeamNameVi" name="NameVi" placeholder="@Localizer["EnterNameVi"]" required />
					</div>
					<div class="form-group">
						<label>@Localizer["NameEn"] <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="mstTeamNameEn" name="NameEn" placeholder="@Localizer["EnterNameEn"]" required />
					</div>
					<div class="form-group">
						<label>@Localizer["NameJp"]</label>
						<input type="text" class="form-control" id="mstTeamNameJp" name="NameJp" placeholder="@Localizer["EnterNameJp"]"/>
					</div>
					<div class="form-group">
						<label>@Localizer["Description"]</label>
						<textarea class="form-control" id="mstTeamDescription" name="Description" rows="2" placeholder="@Localizer["Description"]"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">@Localizer["Cancel"]</button>
					<button type="submit" class="btn btn-success" id="btnSaveAndContinue">@Localizer["SaveAndContinue"]</button>
					<button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
				</div>
			</form>
		</div>
	</div>
</div>
