@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="S3_AccessKey">@Localizer["Access Key"]</label>
        <input type="text" class="form-control" id="S3_AccessKey">
    </div>
    <div class="col-md-6 mb-3">
        <label for="S3_SecretKey">@Localizer["Secret Key"]</label>
        <input type="text" class="form-control" id="S3_SecretKey">
    </div>
    <div class="col-md-6 mb-3">
        <label for="S3_Region">@Localizer["Region"]</label>
        <input type="text" class="form-control" id="S3_Region">
    </div>
    <div class="col-md-6 mb-3">
        <label for="S3_BucketName">@Localizer["Bucket Name"]</label>
        <input type="text" class="form-control" id="S3_BucketName">
    </div>
    <div class="col-md-6 mb-3">
        <label for="S3_ParentFolderId">@Localizer["Parent Folder ID"]</label>
        <input type="text" class="form-control" id="S3_ParentFolderId">
    </div>
</div>
