@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="row">
    <div class="col-md-4 mb-3">
        <label>@Localizer["Insurance Company (%)"]</label>
        <input type="number" class="form-control" id="InsuranceCompany" name="InsuranceCompany">
    </div>
    <div class="col-md-4 mb-3">
        <label>@Localizer["Health Insurance Company (%)"]</label>
        <input type="number" class="form-control" id="HealthInsuranceCompany" name="HealthInsuranceCompany">
    </div>
    <div class="col-md-4 mb-3">
        <label>@Localizer["Accident Insurance Company (%)"]</label>
        <input type="number" class="form-control" id="AccidentInsuranceCompany" name="AccidentInsuranceCompany">
    </div>
    <div class="col-md-4 mb-3">
        <label>@Localizer["Union Company (%)"]</label>
        <input type="number" class="form-control" id="UnionCompany" name="UnionCompany">
    </div>
    <div class="col-md-4 mb-3">
        <label>@Localizer["Insurance Employee (%)"]</label>
        <input type="number" class="form-control" id="InsuranceEmployee" name="InsuranceEmployee">
    </div>
    <div class="col-md-4 mb-3">
        <label>@Localizer["Health Insurance Employee (%)"]</label>
        <input type="number" class="form-control" id="HealthInsuranceEmployee" name="HealthInsuranceEmployee">
    </div>
    <div class="col-md-4 mb-3">
        <label>@Localizer["Accident Insurance Employee (%)"]</label>
        <input type="number" class="form-control" id="AccidentInsuranceEmployee" name="AccidentInsuranceEmployee">
    </div>
    <div class="col-md-4 mb-3">
        <label>@Localizer["Union Employee (%)"]</label>
        <input type="number" class="form-control" id="UnionEmployee" name="UnionEmployee">
    </div>
    <div class="col-md-4 mb-3">
        <label>@Localizer["Income Tax (%)"]</label>
        <input type="number" class="form-control" id="IncomeTax" name="IncomeTax">
    </div>
</div>
