@model NineERP.Web.Models.ResetPasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["ResetPassword"];
    Layout = null;
}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <a href="/">
                                <img src="~/assets/images/logo-light.webp" height="35" alt="logo" />
                            </a>
                            <p class="text-muted mb-4 mt-3">@Localizer["EnterNewPassword"]</p>
                        </div>

                        <form asp-action="ResetPassword" method="post" novalidate>
                            <input type="hidden" asp-for="Email" />
                            <input type="hidden" asp-for="Token" />

                            <div class="form-group mb-3">
                                <label asp-for="Password">@Localizer["NewPassword"]</label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="ConfirmPassword">@Localizer["ConfirmPassword"]</label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-success btn-block" type="submit">
                                    @Localizer["ResetPassword"]
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p>
                            <a href="/Login" class="text-muted ml-1">@Localizer["BackToLogin"]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/libs/jquery-toast/jquery.toast.min.js"></script>
<script>
    $(document).ready(function () {
        var message = '@TempData["Message"]';
        if (message && message !== '') {
            $.toast({
                heading: 'Thông báo',
                text: message,
                position: 'top-right',
                icon: 'info',
                loaderBg: '#3b98b5',
                hideAfter: 4000
            });
        }
    });
</script>